.photo {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.loadingPhoto {
    position: relative;
    opacity: 0;
    left: 0;
    width: 50px;
    bottom: 55px;
    z-index: 1;
    height: 50px;     
}
.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    max-width: 400px;
}
.form {
    margin-top: 10px;
    background: #ffffff;
    border-radius: 20px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border: 1px solid #D0CFCF;  
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    width: 235px;
    
  }
  .buttonSubmit {
    padding: 2px;
    background: transparent;
    border-radius: 10px;
    border: none;
    margin-right: 5px;
  }
  .searching {
    border: none;
    display: inline-block;
    outline: none;
    width: 100%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1d1d1d;
    
  }
  .isOnline {
    background-image: url(./checked.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 15px;
    left: 35px;
}
.offline {
    background-image: url(./circle.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 15px;
    left: 35px;
    position: relative;
}
.formContainer {
  flex-grow: 2;
}
.containerUser {
  flex-shrink: 2;
}
@media (min-width: 768px) {
  .home {
      display: flex;
  }
  .form {
  width: 340px;
  width: 340px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}
.buttonSubmit {
  padding: 10px;
  margin-right: 10px;
 }
 }
@media (min-width: 1280px) {
  .home {
      display: flex;
  }
  .form {
  width: 340px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}
.buttonSubmit {
  padding: 10px;
  margin-right: 10px;
 }
 }
 