.photo {
    border-radius: 50%;
   
}
.loadingPhoto {
    position: absolute;
    opacity: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
    
}
.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
}
.form {
    margin-top: 10px;
    background: #ffffff;
    border-radius: 20px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 2px;
    padding-right: 10px;
    width: 440px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    border: 1px solid #D0CFCF;  
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
  
  }
  .buttonSubmit {
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
  }
  .searching {
    border: none;
    display: inline-block;
    outline: none;
    width: 100%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #1d1d1d;
    
  }