.online {
    background-image: url(./checked.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 25px;
    left: 35px;
}
.offline {
    background-image: url(./free-icon-circle-491717.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 25px;
    left: 35px;
}
.profile{ 
    display: flex;
    padding: 5px;
    border-bottom: 2px solid white;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}
.photo {
    border-radius: 50%;
}
.lastMessage {
    flex-grow: 2;
    max-width: 300px;
    padding: 10px;
    overflow: hidden;
}
h4 {
    margin: 0;
    color: white;
}
p {
  margin: 0;
  color:  #808080;
  max-width: 475px;
  padding: 5px;
  max-height: 100px;
}
.time {
    color: white;
    flex-shrink: 0;
    text-align: center;
    display: block;
}