.home {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
    height: 100vh;
}
.messages {
    flex-grow: 2;
    border: 2px solid white;
    border-left: none;
    display: flex;
    flex-direction: column;
}
.sidebar {
 border: 2px solid white;
 border-bottom: none;
}
.photo {
    border-radius: 50%;
    margin-right: 10px;
}
.speaker {
    border: 2px solid white;
    padding: 15px;
    border-left: none;
    border-top: none;
    background: linear-gradient(to right, #6190e8, #a7bfe8);
    color: white;
}
.wrapperUser {
    padding-top: 25px;
}
.title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;
    color: white;
    padding: 15px;
}
.messagesWrapper {
    flex-grow: 2;
    padding: 15px;
    overflow-y: auto;
}
.messagesWrapper::-webkit-scrollbar {
    width: 10px;
  }
  
.messagesWrapper::-webkit-scrollbar-track {
    background:white;	
  }
  
.messagesWrapper::-webkit-scrollbar-thumb {
    background-color:#FFC0CB;
    border-radius: 20px;
    border: 1px solid white;
  }
.select {
   padding: 15px;
   color: white;
}
.isOnline {
    background-image: url(./checked.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    bottom: 25px;
    left: 35px;
}
.offline {
    background-image: url(./circle.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 25px;
    left: 35px;
    position: relative;
}
.errorMessage {
    color: white;
    padding: 15px;
    font-family: 'Jost';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 29px;
}