.container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-right: 50px;
}
.link {
    display: block;
    text-decoration: none;
    color: white;
}
.logout {
    background: transparent;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    cursor: pointer;
}
.wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
  
}