.register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form {
 text-align: center;
 color: white;
 width: 300px;
 padding: 10px;
 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
 display: flex;
 flex-direction: column;
 align-items: center;
}
h3 {
    color: white;
}
.customBtn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-top: 20px;
  }
  .customBtn {
    background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .customBtn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .customBtn:before,
  .customBtn:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .customBtn:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .customBtn:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .customBtn:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
  }
  .customBtn:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .customBtn:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .customBtn span:before,
  .customBtn span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .customBtn span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .customBtn span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .customBtn span:hover:before {
    width: 100%;
  }
  .customBtn span:hover:after {
    width: 100%;
  }
  .field {
    display: flex;
    justify-content: space-around;

  }
 .nameInput {
    margin-left: 35px;
    border: none;
    border-radius: 5px;
    padding: 5px;
 }
 .emailInput {
    margin-left: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
 }
 .passwordInput {
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
 }
 .sign {
  background-image: url(./google.png);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
 p {
  color: white;
 }
 .btnGoogle {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnGoogle {
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btnGoogle span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btnGoogle:before,
.btnGoogle:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
 box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btnGoogle:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}
.btnGoogle:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}
.btnGoogle:hover{
  background: transparent;
  color: #76aef1;
  box-shadow: none;
}
.btnGoogle:hover:before {
  transition: all 500ms ease;
  height: 100%;
}
.btnGoogle:hover:after {
  transition: all 500ms ease;
  height: 100%;
}
.btnGoogle span:before,
.btnGoogle span:after {
  position: absolute;
  content: "";
  box-shadow:
   -1px -1px 20px 0px rgba(255,255,255,1),
   -4px -4px 5px 0px rgba(255,255,255,1),
   7px 7px 20px 0px rgba(0,0,0,.4),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
.btnGoogle span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btnGoogle span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: .5px;
  transition: all 500ms ease;
}
.btnGoogle span:hover:before {
  width: 100%;
}
.btnGoogle span:hover:after {
  width: 100%;
}